.root {
  flex-grow: 1;
  max-width: 80%;
  margin: auto;
  padding-top: 16px;
}

.paper {
  padding: 12px;
  text-align: center;
  color: #aaa;
}

.week {
  margin: auto;
  margin: 0px !important;
}

.calendarContainer {
  min-height: 2rem;
  width: 80%;
  margin:auto;
  padding:0;
  text-align: center;
}

.month {
  min-height: 2rem;
  padding:0;
}

.monthLabel {
  background: #888;
  min-height: 2rem;
  margin: auto;
  margin-bottom: 8px;
  padding: 10px 0;
  border-radius: 2px;
  width: 100%
}

.day {
  background: #aaa;
  display: inline-block;
  min-height: 2rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  border-radius: 2px;
}

.blank{
  display: none;
}

.day .label{
  display: block;
  background: #777;
  padding: 2px 0;
  width: 100%;
}

.day .data {
  float: left;
  background: #888;
  padding: 2px 0;
  width: 33.333%;
}
.day .data:nth-of-type(2) {
  background: #900;
}
.day .data:nth-of-type(3) {
  background: #090;
}
.day .data:nth-of-type(4) {
  background: #009;
}
@media (min-width: 992px) {
  .blank{
    display: inline-block;
    min-height: 0;
  }
  .day {
    max-width: 13.6%;
    width: 13.6%;
    margin-left: .6%;
  }
  .day .data {
    background: #888;
    border: 0;
    padding: 2px 0;
    width: 100%;
  }
}